node-red source/flows.json
[{"id":"96503cba4aef7987","type":"tab","label":"USB Relay","disabled":false,"info":""},{"id":"62ebc9babda1abd5","type":"tab","label":"Hepenix Remote","disabled":false,"info":""},{"id":"1192edb96afd224d","type":"tab","label":"Hepenix-service","disabled":false,"info":""},{"id":"861ae73c143ccfec","type":"group","z":"62ebc9babda1abd5","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["d67d6fb4d98071b4","1f7cbdc01cf3fb39","6611f3fed68301ac","67fc01f671ab5f64","0c224fcd732f41b3","2a68d0eb0be705a1"],"x":74,"y":279,"w":692,"h":222},{"id":"437c110d8fff0209","type":"group","z":"62ebc9babda1abd5","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["5e36571b8de2c303","d2d2c140e21f6bfe","31b8ac68d22d8ca2","0d5ea202ed160e3d"],"x":74,"y":79,"w":552,"h":162},{"id":"7c5a30a2389651be","type":"group","z":"62ebc9babda1abd5","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["95b34fecfa3c50a8","6e79e56c85f551f1","12b6e2b710be883b","e187b37699ce19ca","7a0b760004380c1b","3b8357a020aade12","1888bea958581f39","8e0f26d3b9ea9d5a","56fe154acb15a917","b457da0948b11546","7645cda4de7974eb","a0440bbeca1e8647","170f275158a9900d","fd2cbf87dfa1f105","58880a7b73d79d91","bbead8d66b18ea84","c9f7876640733885","9467a6922f6f0a31","9bbcc6e0291ca2ab","a0d6d7d36a79c1b8","8fd4e2ceeb426e37","2c34dc19169a7731","02a0c0d2cbfc79fe","b9f43aa7a354339c","5bee4bba20ef5d3d","fce521890d584572","f195953e863a03b7","1bb370fe9404ecae","463a246b1a3b3cdf","5161b8a45c5a28b6","3a8076ddf41b1eaa","fc32dfdbe5980a98","c433b5c01ade217b","e32124ab1879dae0","8c3a62fc8dd5322b","fbf7ecbc7942e177","1078ca3c0510bfba","0c82ba054ac9bb39","603367a0cb63e2f4","f840120f669ba7ae","bcc16d0f3aef0e04","0acf426cef7f9bc6","f61e2c6f5d64648a","b12e147f9088e98e","122812ba64a809b0"],"x":64,"y":519,"w":852,"h":982},{"id":"48bc5cc1af82cc7f","type":"group","z":"62ebc9babda1abd5","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["11a2f02c16e94b22","ca72a87b11c8d1a6","52672c5bf8106104","dd9ca8a28ffb416a","65143806046fe25d"],"x":1874,"y":1219,"w":422,"h":182},{"id":"8d404c8bd3e3969d","type":"group","z":"62ebc9babda1abd5","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["5282830bd9e36d63","0e73d8789cfcb906","2f2e388a6102a88c","3617fa9178ef2cfe","61bf96315ad62d9c","83abdf72b3564364","7a88dbf6b97b8263","0a110dd7d9d55d4b","f396fd3ec552d5d9"],"x":1094,"y":619,"w":692,"h":262},{"id":"19a855cb6190da48","type":"group","z":"62ebc9babda1abd5","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["1708da66e1516d18","d9239a5705e3d469","aa47d8d9d8946e6e","0a3188b201a135c1","bd8926c712c173a7","c8d8406ff3c35af1","84f3d5a2d1d07a9f","09edcb7d99be986c","9aa51570b6c4f6f0"],"x":1094,"y":339,"w":692,"h":262},{"id":"a441d4594ec03e34","type":"group","z":"62ebc9babda1abd5","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["f79e5aeb97f36f83","36f032f26d4960ca","ec5298df92c1c3dd","a822c05a0c32fec0","4c6e83290a099502","c344e905593a0a66","1acb89679a08d462","1ced1ac1bef0c39c"],"x":1874,"y":859,"w":412,"h":282},{"id":"0bdb0558842d3ff7","type":"ui_tab","name":"SZESAT Labor","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"26338df501fdc496","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c8fe33a8ac9a04c4","type":"ui_group","name":"QO-100 Reciver","tab":"0bdb0558842d3ff7","order":1,"disp":true,"width":"6","collapse":false},{"id":"fd0428caf42c0423","type":"ui_tab","name":"Grid-control","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"6788e46751ebad15","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#2b6595","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#1e84c1","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#1e84c1","edited":true},"page-titlebar-backgroundColor":{"value":"#1e84c1","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#49a9e3","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#1e84c1","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e173679e238a9fea","type":"ui_group","name":"GPredict Input","tab":"fd0428caf42c0423","order":2,"disp":false,"width":"6","collapse":false},{"id":"464bd5d8dcafea83","type":"modbus-client","name":"Drive2","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"failureLogEnabled":true,"tcpHost":"10.100.16.34","tcpPort":"5555","tcpType":"TCP-RTU-BUFFERED","serialPort":"COM4","serialType":"RTU-BUFFERD","serialBaudrate":"115200","serialDatabits":"8","serialStopbits":"1","serialParity":"even","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"18","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":false,"showWarnings":true,"showLogs":true},{"id":"d2275cfc58cad145","type":"ui_group","name":"Input","tab":"fd0428caf42c0423","order":2,"disp":true,"width":"6","collapse":false},{"id":"fa65bec78264dac9","type":"ui_group","name":"Feedback","tab":"fd0428caf42c0423","order":3,"disp":true,"width":"6","collapse":false},{"id":"c648fe929c51ebb0","type":"ui_group","name":"modeSelect","tab":"fd0428caf42c0423","order":4,"disp":true,"width":"4","collapse":false},{"id":"c768a14a8bac72aa","type":"ui_group","name":"motor","tab":"fd0428caf42c0423","order":5,"disp":true,"width":"6","collapse":false},{"id":"255a8d9e0f0a9e89","type":"modbus-client","name":"teszt","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"failureLogEnabled":true,"tcpHost":"192.168.2.10","tcpPort":"502","tcpType":"DEFAULT","serialPort":"COM7","serialType":"RTU-BUFFERD","serialBaudrate":"115200","serialDatabits":"8","serialStopbits":"1","serialParity":"even","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true,"showWarnings":true,"showLogs":true},{"id":"3b2f154b57a59d82","type":"modbus-client","name":"drive-remote","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"failureLogEnabled":true,"tcpHost":"10.100.16.34","tcpPort":"5555","tcpType":"TELNET","serialPort":"COM5","serialType":"RTU-BUFFERD","serialBaudrate":"115200","serialDatabits":"8","serialStopbits":"1","serialParity":"even","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"100","parallelUnitIdsAllowed":false,"showWarnings":true,"showLogs":true},{"id":"169b2cb269f030bd","type":"modbus-client","name":"Drive1","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"failureLogEnabled":true,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"COM5","serialType":"RTU-BUFFERD","serialBaudrate":"115200","serialDatabits":"8","serialStopbits":"1","serialParity":"even","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":18,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true,"showWarnings":true,"showLogs":true},{"id":"771c32caec74540c","type":"ui_group","name":"Manuális vezérlés","tab":"fd0428caf42c0423","order":6,"disp":true,"width":"6","collapse":false},{"id":"16a473428276e169","type":"ui_tab","name":"Grid-service","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"7a36d0e389706e67","type":"ui_group","name":"Szervíz parancsok","tab":"16a473428276e169","order":1,"disp":true,"width":"6","collapse":false},{"id":"f03de0d525d5f15f","type":"usb relay","z":"96503cba4aef7987","name":"kapcs","usbrelayport":"QAAMZ_0","x":300,"y":140,"wires":[]},{"id":"49d2acc58ea6f5c5","type":"ui_switch","z":"96503cba4aef7987","name":"","label":"WB / NB","tooltip":"","group":"c8fe33a8ac9a04c4","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":120,"y":140,"wires":[["f03de0d525d5f15f"]]},{"id":"5e36571b8de2c303","type":"tcp in","z":"62ebc9babda1abd5","g":"437c110d8fff0209","name":"","server":"server","host":"","port":"5555","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":160,"y":180,"wires":[["d2d2c140e21f6bfe"]]},{"id":"d2d2c140e21f6bfe","type":"function","z":"62ebc9babda1abd5","g":"437c110d8fff0209","name":"tcp handle","func":"/*\n-----------------------------------------------\n                 TCP SZERVER\n-----------------------------------------------\nAutomatizálási csomag antenna forgatáshoz\nPataki Péter \nv: 2022.11.23.\n    Várt protokol felépítés:\n        \"*IDN?\" : ezköz azonosítása\n    Válasz:\n        Az azonosító, ami ebben az esetben \"AZEL-v1PP\"\nCsomagok értelmezése:\n- \"*IDN?\": eszköz azonosító lekérése\n    \n- \"B,20,10,1\" : beállítás irányba, majd a mozgatás engedélyezése\n    Várt protokol felépítés (vesszővel tagolt):\n        0: Beállítást jelző bájt (\"B\")\n        1: Azimuth (fok)\n        2: Eleváció (fok)\n        4: Engedélyezés (1/0)\n    Válasz:\n        \"ok\": ha sikeresen fogadta a csomagot akkor küldi\n- \"K\" : lekérdezi az aktuális irányokat.\n    Várt protokol felépítés:\n        \"K\": kérdés\n    Válasz:\n        0: Azimuth\n        1: Eleváció\n        2: Mozgás folyamatban(1/0)\n        3: Engedélyezés(1/0)\n\n*/\nconst mode = global.get(\"mode\");\nif(mode == \"tcp\"){\n\n    const messages = new Array(node.outputCount)\n    \n    //node.warn(\"TCP uzenet: \" + msg.payload);\n    const tomb = msg.payload.split(\",\");\n    \n    \n    switch(tomb[0]){\n        /*\n        Beállítandó irány beállítása a TCP oldalról\n        */\n        case \"B\" : \n            //node.warn(\"az:  \" + tomb[1]);\n            //node.warn(\"el:  \" + tomb[2]);\n            //node.warn(\"eng: \" + tomb[3]);\n            \n            var az = parseInt(tomb[1]);\n            var el = parseInt(tomb[2]);\n            var trigger = parseInt(tomb[3]) ? true : trigger = false;\n        \n            messages[0] = {payload:az};\n            messages[1] = {payload:el};\n            messages[2] = {payload:trigger};\n            \n            // Válaszként visszaküld egy ok-ot, hogy minden kész\n            messages[3] = {payload:\"ok\"};\n            break;\n        /*\n        Aktuális állapot kiolvasása\n        */\n        case \"K\" :\n            //node.warn(\"Kerdes\");\n            //node.warn(global.get(\"azG\"));\n            var azGlob = global.get(\"azG\");             // Eleváció\n            var az2 = azGlob == 65535 ? 0 : azGlob;\n            var elGlob = global.get(\"elG\");             // Azimuth\n            var el2 = elGlob == 65535 ? 0 : elGlob;\n            var jarGlob = global.get(\"jarG\") ? 1 :  0;  // Járás\n            var enGlob = global.get(\"enG\") ? 1 : 0;     // Engedélyezés\n            var valasz = az2 + \",\" + el2 + \",\" + jarGlob + \",\" + enGlob;\n            messages[3] = {payload:valasz};\n            break;\n        /*\n        Eszköz azonosítása\n        */\n        case \"*IDN?\" : \n            messages[3] = {payload:\"AZEL-v1PP\"};\n            break;\n    }\n    return messages;\n}\n\n\n","outputs":4,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":180,"wires":[[],[],[],["31b8ac68d22d8ca2"]]},{"id":"31b8ac68d22d8ca2","type":"tcp out","z":"62ebc9babda1abd5","g":"437c110d8fff0209","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"","x":550,"y":200,"wires":[]},{"id":"0d5ea202ed160e3d","type":"comment","z":"62ebc9babda1abd5","g":"437c110d8fff0209","name":"Antenna forgató távvezérlés","info":"","x":220,"y":120,"wires":[]},{"id":"d67d6fb4d98071b4","type":"comment","z":"62ebc9babda1abd5","g":"861ae73c143ccfec","name":"Gpredict interfész","info":"Copytight by MM","x":190,"y":320,"wires":[]},{"id":"1f7cbdc01cf3fb39","type":"function","z":"62ebc9babda1abd5","g":"861ae73c143ccfec","name":"gpredict handle","func":"const mode = global.get(\"mode\");\nlet TCPdt = msg.payload;\nlet TCPtomb = [];\nhandleInputData();\nlet payload = {\n    messages: [],\n    data: {}\n}\nconst motorFBK = global.get(\"motorFBK\")\nlet azel = global.get(\"azel\");\n\nif(mode == \"gpredict\"){\n    let messages = new Array(node.outputCount)\n    let azGlob = parseFloat(global.get(\"azG\")); \n    let elGlob = parseFloat(global.get(\"elG\"));\n    let valasz;\n    switch(TCPdt[0]){\n        case \"p\": // kis p\n            valasz = motorFBK.azDeg + '\\n' + motorFBK.elDeg + '\\n' ;\n            messages[3] = {payload:valasz};\n            global.set(\"azel\", azel)\n            break;\n        case \"P\": // nagy P\n            //response gpredictnek\n            const cal = global.get(\"cal\");\n            messages = createResponse(TCPtomb, messages);\n            azel = {\n                az: messages[0].payload,\n                el: messages[1].payload,\n                valid: true,\n                date: new Date()\n            }\n            azel = calibrate(cal, azel);\n            global.set(\"azel\", azel);\n            break;\n        case \"S\":\n            node.warn(\"A kapcsolat megszakadt\");\n            messages[3] = {payload:\"RPRT 0\\n\"};\n            azel.valid = false;\n            azel.date = new Date();\n            global.set(\"azel\", azel)\n            break;\n        default:\n            messages[3] = {payload:\"RPRT 0\\n\"};\n            azel.valid = false;\n            azel.date = new Date();\n            global.set(\"azel\", azel)\n            break;\n    }\n    payload.messages = messages;\n    return messages;\n}\n\nfunction handleInputData() {\n    TCPdt = TCPdt.replace(/,/g, \".\");\n    TCPdt = TCPdt.replace(\"\\n\", \"\");\n    TCPtomb = TCPdt.split(\" \");\n}\n\nfunction createResponse(TCPtomb, messages) {\n    let az = parseFloat(TCPtomb[1]);\n    // node.warn(az);\n    global.set(\"azGpr\", az)\n    let el = parseFloat(TCPtomb[2]);\n    global.set(\"elGpr\", el);\n\n    messages[0] = { payload: az };\n    messages[1] = { payload: el };\n    messages[2] = { payload: true };\n    messages[3] = { payload: \"RPRT 0\\n\" };\n    return messages;\n}\n\nfunction calibrate(cal, azel) {\n    if (cal.status) {\n        if (cal.az < 0) {\n            azel.az = azel.az - -cal.az;\n        } else {\n            azel.az = azel.az + cal.az;\n        }\n        if (azel.az < 0) {\n            azel.az = 0 - -azel.az;\n        } else if (azel.az > 360) {\n            azel.az = azel.az - 360;\n        }\n\n        if (cal.el < 0) {\n            azel.el = azel.el - -cal.el;\n        } else {\n            azel.el = azel.el + cal.el;\n        }\n        if (azel.el < 0) {\n            azel.el = 0;\n        } else if (azel.el > 90) {\n            azel.el = 90;\n        }\n    }\n    return azel;\n}","outputs":4,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nglobal.set(\"azel\", {\n    az: 0,\n    el: 0,\n    valid: false,\n    date: new Date()\n})","finalize":"","libs":[],"x":420,"y":340,"wires":[[],[],[],["67fc01f671ab5f64"]]},{"id":"6611f3fed68301ac","type":"tcp in","z":"62ebc9babda1abd5","g":"861ae73c143ccfec","name":"","server":"server","host":"localhost","port":"5556","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":190,"y":380,"wires":[["1f7cbdc01cf3fb39","2a68d0eb0be705a1"]]},{"id":"67fc01f671ab5f64","type":"tcp out","z":"62ebc9babda1abd5","g":"861ae73c143ccfec","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"gpredict tcp response","x":640,"y":360,"wires":[]},{"id":"a2209aca32a62531","type":"comment","z":"62ebc9babda1abd5","name":"Változó lista","info":"mode - manual/tcp/gpredict input választás\n\nazG - azimuth global (debug?)\nelG - elevation global (debug?)\n\nazS - azimuth szenzorból\nelS - elevation szenzorból\n\nposM - {\n    az: float,\n    el: float\n}\n\nlastMoved - legutóbb mozdított motor\nlastGot - legutóbb meghívott\n\ntrack - követés on/off\n\nazel - {\n    az: float,\n    el: float,\n    valid: bool\n    time: DateTime\n}\n\ncal - {\n    az: float,\n    el: float,\n    xMultiplier: float,\n    yMultiplier: float,\n    xStep: int,\n    yStep: int,\n    status: bool\n}\n\nmotor - { x: fok, y: fok, xAddress: int, yAddress: int }\n    fok: 0-180, 90 néz egyenesen fel\n    ---> home position: { x: 90, y: 90}\n\nmotorFBK - {\n    xStep: int,\n    yStep: int,\n    xDeg: float,\n    yDeg: float,\n    azDeg: float, \n    elDeg: float\n    x: float, \n    y: float, \n    xAddress: 18, \n    yAddress: 17\n}\n","x":910,"y":80,"wires":[]},{"id":"0c224fcd732f41b3","type":"comment","z":"62ebc9babda1abd5","g":"861ae73c143ccfec","name":"matek","info":"1. az/el to xyz conversion\n    X tengely É fele\n    Y tengely K fele\n    Z tengely vertikális\n    origo a földi állomás","x":240,"y":460,"wires":[]},{"id":"2a68d0eb0be705a1","type":"delay","z":"62ebc9babda1abd5","g":"861ae73c143ccfec","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"x":410,"y":420,"wires":[["70ac5a22947a7697"]]},{"id":"fc20cc3224b9b140","type":"inject","z":"62ebc9babda1abd5","name":"gomb (debug)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":870,"y":240,"wires":[["df0050f79dfc1305"]]},{"id":"df0050f79dfc1305","type":"function","z":"62ebc9babda1abd5","name":"default adatok globális változókba (debug)","func":"global.set(\"azG\", 0);\nglobal.set(\"elG\", 0)\nglobal.set(\"azM\", 0)\nglobal.set(\"elM\", 0)\nglobal.set(\"motor\", { x:90, y: 90 , xAddress: 18, yAddress: 17})\nglobal.set(\"motorFBK\", { \n    x: 90, \n    y: 90, \n    xAddress: 18, \n    yAddress: 17, \n    xStep: 0, \n    yStep: 0,\n    xDeg: 0, \n    yDeg: 0,\n    azDeg: 0,\n    elDeg: 0\n})\nglobal.set(\"track\", false)\nglobal.set(\"mode\", \"gpredict\")\nglobal.set(\"cal\", {\n    az: -26.6,\n    el: 0,\n    xMultiplier: 1,\n    yMultiplier: 1,\n    xStep: 10000,\n    yStep: -42500,\n    status: false\n})\nglobal.set(\"lastMoved\", \"y\")\nglobal.set(\"lastGot\", 17)\nglobal.set(\"posM\", {az: 90, el: 90})","outputs":1,"noerr":0,"initialize":"global.set(\"azG\", 0);\nglobal.set(\"elG\", 0)\nglobal.set(\"azM\", 0)\nglobal.set(\"elM\", 0)\nglobal.set(\"motor\", { x: 90, y: 90, xAddress: 18, yAddress: 17})\nglobal.set(\"motorFBK\", { \n    x: 90, \n    y: 90, \n    xAddress: 18, \n    yAddress: 17, \n    xStep: 0, \n    yStep: 0,\n    xDeg: 0, \n    yDeg: 0,\n    azDeg: 0,\n    elDeg: 0\n})\nglobal.set(\"track\", false)\nglobal.set(\"mode\", \"gpredict\")\nglobal.set(\"cal\", {\n    az: -26.6,\n    el: 0,\n    xMultiplier: 1,\n    yMultiplier: 1,\n    xStep: 10000,\n    yStep: -42500,\n    status: false\n})\nglobal.set(\"lastMoved\", \"y\")\nglobal.set(\"lastGot\", 17)\nglobal.set(\"posM\", { az: 90, el: 90 })","finalize":"","libs":[],"x":1170,"y":240,"wires":[[]]},{"id":"70ac5a22947a7697","type":"function","z":"62ebc9babda1abd5","name":"motor állásszögek","func":"const mode = global.get(\"mode\");\nlet azel = global.get(\"azel\");\nconst cal = global.get(\"cal\");\nconst posM = global.get(\"posM\");\nlet motor = global.get(\"motor\");\nlet xyz = {x: 0, y: 0, z: 0}\nlet sik = {a: 0, b: 0, c: 0}\nlet azelCalc = azel;\nswitch (mode) {\n    case \"gpredict\": {\n        msg.payload = gpredict();\n        return msg\n    }\n    case \"manual\": {\n        azelCalc.az = posM.az\n        azelCalc.el = posM.el\n        // node.warn(azelCalc)\n        msg.payload = manual();\n        // node.warn(msg.payload)\n        return msg;\n    }\n}\n\nfunction manual() {\n    calibrate();\n    // node.warn(azelCalc)\n    xyz = azElToXYZ(azelCalc, 1000);\n    // node.warn(xyz)\n    if (xyz.x == 0) { xyz.x = 0.1 }\n    if (xyz.y == 0) { xyz.y = 0.1 }\n    if (xyz.z == 0) { xyz.z = 0.1 }\n    sikEgyenlete(xyz);\n\n    motor.x = xSzogetSzamol(sik);\n    motor.y = ySzogetSzamol(xyz);\n\n    global.set(\"motor\", motor);\n    msg.payload = motor;\n    // return msg;\n}\n\nfunction gpredict() {\n    if (azelCalc.valid) {\n        xyz = azElToXYZ(azelCalc, 1000);\n        if (xyz.x == 0) { xyz.x = 0.1 }\n        if (xyz.y == 0) { xyz.y = 0.1 }\n        if (xyz.z == 0) { xyz.z = 0.1 }\n        sikEgyenlete(xyz);\n\n        motor.x = xSzogetSzamol(sik);\n        motor.y = ySzogetSzamol(xyz);\n        global.set(\"motor\", motor);\n        return motor;\n    } else {\n        msg.payload = null;\n        return msg;\n    }\n}\n\nfunction calibrate() {\n    if (cal.status) {\n        if (cal.az < 0) {\n            azelCalc.az = azelCalc.az - (-cal.az);\n        } else {\n            azelCalc.az = azelCalc.az + cal.az;\n        }\n        if (azelCalc.az < 0) {\n            azelCalc.az = 0 - (-azelCalc.az);\n        } else if (azelCalc.az > 360) {\n            azelCalc.az = azelCalc.az - 360;\n        }\n\n        if (cal.el < 0) {\n            azelCalc.el = azelCalc.el - (-cal.el);\n        } else {\n            azelCalc.el = azelCalc.el + cal.el;\n        }\n        if (azelCalc.el < 0) {\n            azelCalc.el = 0;\n        } else if (azelCalc.el > 90) {\n            azelCalc.el = 90;\n        }\n    }\n}\n\nfunction azElToXYZ(azelCalc, rad) {\n    const azRad = azel.az * (Math.PI / 180);\n    const elRad = azel.el * (Math.PI / 180);\n\n    const x = Math.round((rad * Math.cos(elRad) * Math.cos(azRad)) * 1000) / 1000;\n    const y = Math.round(-(rad * Math.cos(elRad) * Math.sin(azRad)) * 1000) / 1000;\n    const z = Math.round(rad * Math.sin(elRad) * 1000) / 1000;\n\n    return { x, y, z };\n}\n\nfunction sikEgyenlete(be) {\n    const specifiedPoint = be;\n\n    const origin = { x: 0, y: 0, z: 0 };\n    // const xyz = { x: 1, y: 0, z: 0 };\n\n    const vector1 = { x: 1, y: 0, z: 0 };\n    const vector2 = { x: specifiedPoint.x - origin.x, y: specifiedPoint.y - origin.y, z: specifiedPoint.z - origin.z };\n\n    const normalVector = {\n        x: vector1.y * vector2.z - vector1.z * vector2.y,\n        y: vector1.z * vector2.x - vector1.x * vector2.z,\n        z: vector1.x * vector2.y - vector1.y * vector2.x,\n    };\n\n    const Ac = normalVector.x;\n    const Bc = normalVector.y;\n    const Cc = normalVector.z;\n\n    sik = {\n        a: Ac,\n        b: Bc,\n        c: Cc,\n    }\n}\n\nfunction xSzogetSzamol(sikAdatai) {\n    const A = sikAdatai.a;\n    const B = sikAdatai.b;\n    const C = sikAdatai.c;\n\n    const normalXY = { x: 0, y: 0, z: 1 };\n    const dotProduct = A * normalXY.x + B * normalXY.y + C * normalXY.z;\n    const magnitudeSpecifiedPlane = Math.sqrt(A * A + B * B + C * C);\n    const cosineAngle = dotProduct / magnitudeSpecifiedPlane;\n    const angleInRadians = Math.acos(cosineAngle);\n    const angleInDegrees = (180 * angleInRadians) / Math.PI;\n    return Math.round(angleInDegrees * 100) / 100;\n}\n\nfunction ySzogetSzamol(pont) {\n    const dotProduct = pont.x * 1 + pont.y * 0 + pont.z * 0;\n    const vectorMagnitude = Math.sqrt(pont.x * pont.x + pont.y * pont.y + pont.z * pont.z);\n    const yAxisMagnitude = 1;\n    const cosineAngle = dotProduct / (vectorMagnitude * yAxisMagnitude);\n    const angleInRadians = Math.acos(cosineAngle);\n    const angleInDegrees = (180 * angleInRadians) / Math.PI;\n    return Math.round(angleInDegrees * 10) / 10;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":440,"wires":[["dde322382bab731f"]]},{"id":"7cf5cbe7021b0cbe","type":"ui_button","z":"62ebc9babda1abd5","name":"","group":"771c32caec74540c","order":9,"width":0,"height":0,"passthru":false,"label":"Manuális mozgás","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":870,"y":380,"wires":[["70ac5a22947a7697"]]},{"id":"95b34fecfa3c50a8","type":"ui_numeric","z":"62ebc9babda1abd5","g":"7c5a30a2389651be","name":"","label":"azG debug","tooltip":"","group":"d2275cfc58cad145","order":11,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"440","step":1,"x":170,"y":620,"wires":[["12b6e2b710be883b"]]},{"id":"6e79e56c85f551f1","type":"ui_numeric","z":"62ebc9babda1abd5","g":"7c5a30a2389651be","name":"","label":"elG debug","tooltip":"","group":"d2275cfc58cad145","order":12,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"180","step":1,"x":170,"y":660,"wires":[["e187b37699ce19ca"]]},{"id":"12b6e2b710be883b","type":"function","z":"62ebc9babda1abd5","g":"7c5a30a2389651be","name":"azG to global","func":"global.set(\"azG\", msg.payload)\nmsg.payload = global.get(\"azG\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":620,"wires":[[]]},{"id":"e187b37699ce19ca","type":"function","z":"62ebc9babda1abd5","g":"7c5a30a2389651be","name":"elG to global","func":"global.set(\"elG\", msg.payload)\nmsg.payload = global.get(\"elG\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":660,"wires":[[]]},{"id":"7a0b760004380c1b","type":"comment","z":"62ebc9babda1abd5","g":"7c5a30a2389651be","name":"Input","info":"","x":150,"y":560,"wires":[]},{"id":"3b8357a020aade12","type":"function","z":"62ebc9babda1abd5","g":"7c5a30a2389651be","name":"ctrl mode to global var","func":"global.set(\"mode\", msg.payload)\n\nmsg.payload = global.get(\"mode\")\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":720,"wires":[["8e0f26d3b9ea9d5a"]]},{"id":"1888bea958581f39","type":"ui_dropdown","z":"62ebc9babda1abd5","g":"7c5a30a2389651be","name":"","label":"Control mode","tooltip":"","place":"válassz vezérlési módot","group":"d2275cfc58cad145","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Manuális","value":"manual","type":"str"},{"label":"TCP","value":"tcp","type":"str"},{"label":"GPredict","value":"gpredict","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":180,"y":720,"wires":[["3b8357a020aade12"]]},{"id":"8e0f26d3b9ea9d5a","type":"debug","z":"62ebc9babda1abd5","g":"7c5a30a2389651be","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":660,"y":720,"wires":[]},{"id":"56fe154acb15a917","type":"ui_switch","z":"62ebc9babda1abd5","g":"7c5a30a2389651be","name":"","label":"TRACK","tooltip":"","group":"e173679e238a9fea","order":11,"width":"2","height":"2","passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":520,"y":780,"wires":[["b457da0948b11546"]]},{"id":"b457da0948b11546","type":"function","z":"62ebc9babda1abd5","g":"7c5a30a2389651be","name":"track status to global","func":"if (msg.payload) {\n    // node.warn(\"track true\");\n    global.set(\"track\", true);\n} else {\n    // node.warn(\"track false\");\n    global.set(\"track\", false);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":780,"wires":[[]]},{"id":"7645cda4de7974eb","type":"comment","z":"62ebc9babda1abd5","g":"7c5a30a2389651be","name":"Calibrate","info":"","x":160,"y":880,"wires":[]},{"id":"a0440bbeca1e8647","type":"ui_numeric","z":"62ebc9babda1abd5","g":"7c5a30a2389651be","name":"","label":"Azimuth CALIBRATE","tooltip":"","group":"d2275cfc58cad145","order":5,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":"-360","max":"360","step":"0.2","x":540,"y":900,"wires":[["fd2cbf87dfa1f105"]]},{"id":"170f275158a9900d","type":"ui_numeric","z":"62ebc9babda1abd5","g":"7c5a30a2389651be","name":"","label":"Elevation CALIBRATE","tooltip":"","group":"d2275cfc58cad145","order":6,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":"-90","max":"90","step":"0.2","x":540,"y":940,"wires":[["58880a7b73d79d91"]]},{"id":"fd2cbf87dfa1f105","type":"function","z":"62ebc9babda1abd5","g":"7c5a30a2389651be","name":"cal az to global","func":"let cal = global.get(\"cal\");\ncal.az = msg.payload;\nglobal.set(\"cal\", cal);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":900,"wires":[[]]},{"id":"58880a7b73d79d91","type":"function","z":"62ebc9babda1abd5","g":"7c5a30a2389651be","name":"cal el to global","func":"let cal = global.get(\"cal\");\ncal.el = msg.payload;\nglobal.set(\"cal\", cal);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":940,"wires":[[]]},{"id":"bbead8d66b18ea84","type":"function","z":"62ebc9babda1abd5","g":"7c5a30a2389651be","name":"get cal az","func":"msg.payload = global.get(\"cal\").az;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":900,"wires":[["a0440bbeca1e8647"]]},{"id":"c9f7876640733885","type":"function","z":"62ebc9babda1abd5","g":"7c5a30a2389651be","name":"get cal el","func":"msg.payload = global.get(\"cal\").el;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":940,"wires":[["170f275158a9900d"]]},{"id":"9467a6922f6f0a31","type":"ui_switch","z":"62ebc9babda1abd5","g":"7c5a30a2389651be","name":"","label":"Calibration on/off","tooltip":"","group":"d2275cfc58cad145","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":190,"y":1200,"wires":[["9bbcc6e0291ca2ab"]]},{"id":"9bbcc6e0291ca2ab","type":"function","z":"62ebc9babda1abd5","g":"7c5a30a2389651be","name":"cal status to global","func":"let cal = global.get(\"cal\");\nif (msg.payload) {\n    cal.status = true;\n    global.set(\"cal\", cal);\n    node.warn(cal);\n} else {\n    cal.status = false;\n    global.set(\"cal\", cal);\n    node.warn(cal);\n}","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nlet cal = global.get(\"cal\");\ncal.status = true;\nglobal.set(\"cal\", cal)","finalize":"","libs":[],"x":430,"y":1200,"wires":[[]]},{"id":"a0d6d7d36a79c1b8","type":"inject","z":"62ebc9babda1abd5","g":"7c5a30a2389651be","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":780,"wires":[["8fd4e2ceeb426e37"]]},{"id":"8fd4e2ceeb426e37","type":"function","z":"62ebc9babda1abd5","g":"7c5a30a2389651be","name":"get track","func":"msg.payload = global.get(\"track\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":780,"wires":[["56fe154acb15a917"]]},{"id":"2c34dc19169a7731","type":"ui_numeric","z":"62ebc9babda1abd5","g":"7c5a30a2389651be","name":"","label":"El Kívánt pozició:","tooltip":"","group":"771c32caec74540c","order":8,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"90","step":"0.5","x":190,"y":1280,"wires":[["5bee4bba20ef5d3d"]]},{"id":"02a0c0d2cbfc79fe","type":"ui_numeric","z":"62ebc9babda1abd5","g":"7c5a30a2389651be","name":"","label":"Az kívánt pozició:","tooltip":"","group":"771c32caec74540c","order":7,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"360","step":"0.5","x":200,"y":1240,"wires":[["b9f43aa7a354339c"]]},{"id":"b9f43aa7a354339c","type":"function","z":"62ebc9babda1abd5","g":"7c5a30a2389651be","name":"posM to global","func":"const posM = global.get(\"posM\");\nposM.az = msg.payload;\nglobal.set(\"posM\", posM);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":1240,"wires":[[]]},{"id":"5bee4bba20ef5d3d","type":"function","z":"62ebc9babda1abd5","g":"7c5a30a2389651be","name":"posM to global","func":"const posM = global.get(\"posM\");\nposM.el = msg.payload;\nglobal.set(\"posM\", posM);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":1280,"wires":[[]]},{"id":"fce521890d584572","type":"ui_button","z":"62ebc9babda1abd5","g":"7c5a30a2389651be","name":"","group":"fa65bec78264dac9","order":5,"width":"6","height":"2","passthru":false,"label":"STOP","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"32","payloadType":"num","topic":"topic","topicType":"msg","x":150,"y":1340,"wires":[["f195953e863a03b7"]]},{"id":"f195953e863a03b7","type":"modbus-write","z":"62ebc9babda1abd5","g":"7c5a30a2389651be","name":"","showStatusActivities":true,"showErrors":true,"showWarnings":true,"unitid":"17","dataType":"HoldingRegister","adr":"125","quantity":"1","server":"3b2f154b57a59d82","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":340,"y":1340,"wires":[[],["1bb370fe9404ecae"]]},{"id":"1bb370fe9404ecae","type":"modbus-write","z":"62ebc9babda1abd5","g":"7c5a30a2389651be","name":"","showStatusActivities":true,"showErrors":true,"showWarnings":true,"unitid":"18","dataType":"HoldingRegister","adr":"125","quantity":"1","server":"3b2f154b57a59d82","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":560,"y":1340,"wires":[[],["463a246b1a3b3cdf"]]},{"id":"463a246b1a3b3cdf","type":"function","z":"62ebc9babda1abd5","g":"7c5a30a2389651be","name":"set payload","func":"global.set(\"track\", false)\nmsg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1400,"wires":[["5161b8a45c5a28b6","fc32dfdbe5980a98"]]},{"id":"5161b8a45c5a28b6","type":"modbus-write","z":"62ebc9babda1abd5","g":"7c5a30a2389651be","name":"","showStatusActivities":true,"showErrors":true,"showWarnings":true,"unitid":"17","dataType":"HoldingRegister","adr":"125","quantity":"1","server":"3b2f154b57a59d82","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":560,"y":1400,"wires":[[],[]]},{"id":"3a8076ddf41b1eaa","type":"modbus-write","z":"62ebc9babda1abd5","g":"7c5a30a2389651be","name":"","showStatusActivities":true,"showErrors":true,"showWarnings":true,"unitid":"18","dataType":"HoldingRegister","adr":"125","quantity":"1","server":"3b2f154b57a59d82","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":740,"y":1460,"wires":[[],[]]},{"id":"fc32dfdbe5980a98","type":"delay","z":"62ebc9babda1abd5","g":"7c5a30a2389651be","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"x":550,"y":1460,"wires":[["3a8076ddf41b1eaa"]]},{"id":"c433b5c01ade217b","type":"ui_numeric","z":"62ebc9babda1abd5","g":"7c5a30a2389651be","name":"","label":"Y multiplier","tooltip":"","group":"d2275cfc58cad145","order":7,"width":"0","height":"0","wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":"0.1","max":"10","step":"0.005","x":550,"y":1040,"wires":[["0c82ba054ac9bb39"]]},{"id":"e32124ab1879dae0","type":"function","z":"62ebc9babda1abd5","g":"7c5a30a2389651be","name":"get cal xMultiplier","func":"msg.payload = global.get(\"cal\").xMultiplier;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1000,"wires":[["8c3a62fc8dd5322b"]]},{"id":"8c3a62fc8dd5322b","type":"ui_numeric","z":"62ebc9babda1abd5","g":"7c5a30a2389651be","name":"","label":"X multiplier","tooltip":"","group":"d2275cfc58cad145","order":8,"width":"0","height":"0","wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":"0.1","max":"10","step":"0.005","x":550,"y":1000,"wires":[["1078ca3c0510bfba"]]},{"id":"fbf7ecbc7942e177","type":"function","z":"62ebc9babda1abd5","g":"7c5a30a2389651be","name":"get cal yMultiplier","func":"msg.payload = global.get(\"cal\").yMultiplier;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1040,"wires":[["c433b5c01ade217b"]]},{"id":"1078ca3c0510bfba","type":"function","z":"62ebc9babda1abd5","g":"7c5a30a2389651be","name":"cal xMultiplier to global","func":"let cal = global.get(\"cal\");\ncal.xMultiplier = msg.payload;\nglobal.set(\"cal\", cal);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":1000,"wires":[[]]},{"id":"0c82ba054ac9bb39","type":"function","z":"62ebc9babda1abd5","g":"7c5a30a2389651be","name":"cal yMultiplier to global","func":"let cal = global.get(\"cal\");\ncal.yMultiplier = msg.payload;\nglobal.set(\"cal\", cal);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":1040,"wires":[[]]},{"id":"603367a0cb63e2f4","type":"function","z":"62ebc9babda1abd5","g":"7c5a30a2389651be","name":"cal xStep to global","func":"let cal = global.get(\"cal\");\ncal.xStep = msg.payload;\nglobal.set(\"cal\", cal);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":1100,"wires":[[]]},{"id":"f840120f669ba7ae","type":"function","z":"62ebc9babda1abd5","g":"7c5a30a2389651be","name":"get cal xStep","func":"msg.payload = global.get(\"cal\").xStep;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":1100,"wires":[["0acf426cef7f9bc6"]]},{"id":"bcc16d0f3aef0e04","type":"function","z":"62ebc9babda1abd5","g":"7c5a30a2389651be","name":"cal yStep to global","func":"let cal = global.get(\"cal\");\ncal.yStep = msg.payload;\nglobal.set(\"cal\", cal);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":1140,"wires":[[]]},{"id":"0acf426cef7f9bc6","type":"ui_numeric","z":"62ebc9babda1abd5","g":"7c5a30a2389651be","name":"","label":"X step","tooltip":"","group":"d2275cfc58cad145","order":10,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":"-838606","max":"838606","step":"2500","x":530,"y":1100,"wires":[["603367a0cb63e2f4"]]},{"id":"f61e2c6f5d64648a","type":"ui_numeric","z":"62ebc9babda1abd5","g":"7c5a30a2389651be","name":"","label":"Y step","tooltip":"","group":"d2275cfc58cad145","order":9,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":"-838606","max":"838606","step":"2500","x":530,"y":1140,"wires":[["bcc16d0f3aef0e04"]]},{"id":"b12e147f9088e98e","type":"function","z":"62ebc9babda1abd5","g":"7c5a30a2389651be","name":"get cal yStep","func":"msg.payload = global.get(\"cal\").yStep;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":1140,"wires":[["f61e2c6f5d64648a"]]},{"id":"11a2f02c16e94b22","type":"comment","z":"62ebc9babda1abd5","g":"48bc5cc1af82cc7f","name":"TCP in","info":"","x":1950,"y":1260,"wires":[]},{"id":"ca72a87b11c8d1a6","type":"function","z":"62ebc9babda1abd5","g":"48bc5cc1af82cc7f","name":"get EL TCP","func":"msg.payload = global.get(\"elGpr\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1970,"y":1360,"wires":[["52672c5bf8106104"]]},{"id":"52672c5bf8106104","type":"ui_gauge","z":"62ebc9babda1abd5","g":"48bc5cc1af82cc7f","name":"","group":"e173679e238a9fea","order":9,"width":0,"height":0,"gtype":"gage","title":"Elevation kívülről","label":"fok","format":"{{value}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2180,"y":1360,"wires":[]},{"id":"dd9ca8a28ffb416a","type":"function","z":"62ebc9babda1abd5","g":"48bc5cc1af82cc7f","name":"gez AZ TCP","func":"msg.payload = global.get(\"azGpr\");\n// node.warn(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1970,"y":1320,"wires":[["65143806046fe25d","ca72a87b11c8d1a6"]]},{"id":"65143806046fe25d","type":"ui_gauge","z":"62ebc9babda1abd5","g":"48bc5cc1af82cc7f","name":"","group":"e173679e238a9fea","order":10,"width":0,"height":0,"gtype":"compass","title":"Azimuth kívülről","label":"fok","format":"{{value}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2170,"y":1320,"wires":[]},{"id":"f79e5aeb97f36f83","type":"function","z":"62ebc9babda1abd5","g":"a441d4594ec03e34","name":"get yDeg","func":"msg.payload = global.get(\"motorFBK\").yDeg;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1960,"y":1000,"wires":[["36f032f26d4960ca","1ced1ac1bef0c39c"]]},{"id":"36f032f26d4960ca","type":"ui_gauge","z":"62ebc9babda1abd5","g":"a441d4594ec03e34","name":"","group":"fa65bec78264dac9","order":6,"width":"3","height":"3","gtype":"gage","title":"Y fok szenzorból","label":"fok","format":"{{value}}","min":"-90","max":"90","colors":["#ff00ff","#ff00ff","#ff00ff"],"seg1":"","seg2":"","x":2170,"y":1000,"wires":[]},{"id":"ec5298df92c1c3dd","type":"function","z":"62ebc9babda1abd5","g":"a441d4594ec03e34","name":"get xDeg","func":"msg.payload = global.get(\"motorFBK\").xDeg;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1960,"y":960,"wires":[["a822c05a0c32fec0","f79e5aeb97f36f83"]]},{"id":"a822c05a0c32fec0","type":"ui_gauge","z":"62ebc9babda1abd5","g":"a441d4594ec03e34","name":"","group":"fa65bec78264dac9","order":8,"width":"3","height":"3","gtype":"gage","title":"X fok szenzorból","label":"fok","format":"{{value}}","min":"-90","max":"90","colors":["#ff00ff","#ff00ff","#ff00ff"],"seg1":"","seg2":"","x":2170,"y":960,"wires":[]},{"id":"4c6e83290a099502","type":"comment","z":"62ebc9babda1abd5","g":"a441d4594ec03e34","name":"Feedback","info":"","x":1960,"y":900,"wires":[]},{"id":"5a57449acd2a3f79","type":"comment","z":"62ebc9babda1abd5","name":"regiszterek","info":"125 driver in\n127 driver out\n128/129 alarm\n\n194/195 op selected r\n198/199 command position r\n200/201 command speed r\n204/205 actual position r\n206/207 actual speed r\n\n900/901 motor rotation direction r/w\n\n1024/1025 - 1150/1151 op position (0-63) r/w\n1152/1153 - 1278/1279 op speed (0-63) r/w\n1280/1281 - 1406/1407 op mode abs/inc (0-63) r/w\n1408-1409 - 1534-1535 op function (0-63) r/w\n1536/1537 - 1662/1663 op acceleration (0-63) r/w\n1664/1665 - 1790/1791 op decceleration (0-63) r/w\n1792/1793 - 1918/1919 op push current (0-63) r/w\n1920/1921 - 2046/2047 op sequential positioning (0-63) r/w\n2048/2049 - 2174/2175 op dwell time (0-63) r/w\n\n4096/4097 MS0\n4098/4099 MS1\n4100/4101 MS2\n4102/4103 MS3\n4104/4105 MS4\n4106/4107 MS5","x":1080,"y":80,"wires":[]},{"id":"501e25b4160c3949","type":"comment","z":"62ebc9babda1abd5","name":"Alarm","info":"","x":1090,"y":1100,"wires":[]},{"id":"99c9b637fc423856","type":"function","z":"62ebc9babda1abd5","name":"show alarm text","func":"// node.warn(msg.payload)\nif (msg.payload[0] == 0 && msg.payload[1] == 0) {\n    msg.payload = \"no alarm\";\n} else if (msg.payload[0] == 0 && msg.payload[1] == 103) {\n    msg.payload = \"rs485 error\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1360,"y":1160,"wires":[["6b9d46bf9e4511b7"]]},{"id":"6b9d46bf9e4511b7","type":"ui_text","z":"62ebc9babda1abd5","group":"fa65bec78264dac9","order":1,"width":0,"height":0,"name":"","label":"Alarm X","format":"{{msg.payload}}","layout":"row-spread","x":1560,"y":1160,"wires":[]},{"id":"d93fc76846aa6b80","type":"modbus-getter","z":"62ebc9babda1abd5","name":"","showStatusActivities":true,"showErrors":true,"showWarnings":true,"logIOActivities":false,"unitid":"18","dataType":"HoldingRegister","adr":"128","quantity":"2","server":"3b2f154b57a59d82","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":1120,"y":1160,"wires":[["99c9b637fc423856"],["91f5ec1e498eb5f3"]]},{"id":"ccad12e6941040a6","type":"function","z":"62ebc9babda1abd5","name":"show alarm text","func":"if (msg.payload[0] == 0 && msg.payload[1] == 0) {\n    msg.payload = \"no alarm\";\n} else if (msg.payload[0] == 0 && msg.payload[1] == 103) {\n    msg.payload = \"rs485 error\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1360,"y":1220,"wires":[["7cc8f2376f7592cd"]]},{"id":"7cc8f2376f7592cd","type":"ui_text","z":"62ebc9babda1abd5","group":"fa65bec78264dac9","order":2,"width":0,"height":0,"name":"","label":"Alarm Y","format":"{{msg.payload}}","layout":"row-spread","x":1560,"y":1220,"wires":[]},{"id":"91f5ec1e498eb5f3","type":"modbus-getter","z":"62ebc9babda1abd5","name":"","showStatusActivities":true,"showErrors":true,"showWarnings":true,"logIOActivities":false,"unitid":"17","dataType":"HoldingRegister","adr":"128","quantity":"2","server":"3b2f154b57a59d82","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":1120,"y":1220,"wires":[["ccad12e6941040a6"],["bb90f3c16bffba1f"]]},{"id":"1241bbc0399c961d","type":"inject","z":"62ebc9babda1abd5","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1140,"y":1340,"wires":[["bb90f3c16bffba1f"]]},{"id":"b0f3434f83108568","type":"function","z":"62ebc9babda1abd5","name":"motor step","func":"const track = global.get(\"track\");\nconst cal = global.get(\"cal\");\nconst motor = global.get(\"motor\");\nconst mode = global.get(\"mode\")\n\nif (track) {\n    let msg1 = {payload: xSzamol()};\n    let msg2 = {payload: ySzamol()};\n    return [msg1, msg2]\n}\n\n\nfunction xSzamol() {\n    if (track) { // if tracked\n    const tizedFok = 838606 / 900;\n    let fok = 90 - motor.x;\n    let motorStep;\n    motorStep = Math.round(tizedFok * (fok * 10))\n    if (cal.valid) {\n        motorStep * cal.xMultiplier\n        motorStep + cal.xStep    \n    }\n    if (motorStep < -838606) {\n        motorStep = -838606;\n    } else if (motorStep > 838606) {\n        motorStep = 838606;\n    }\n    return motorStep;\n    }\n}\n\n\nfunction ySzamol() {\n    if (track) { // if tracked\n    const tizedFok = 838606 / 900;\n    let fok;\n    fok = -(90 - motor.y);\n    let motorStep;\n    motorStep = Math.round(tizedFok * (fok * 10))\n    if (cal.valid) {\n        motorStep * cal.xMultiplier\n        motorStep + cal.xStep    \n    }\n    if (motorStep < -838606) {\n        motorStep = -838606;\n    } else if (motorStep > 838606) {\n        motorStep = 838606;\n    }\n    return motorStep;\n    }    \n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1130,"y":1440,"wires":[["a52aee34fbc8e01d"],["b976e0696ac96d79"]]},{"id":"15eed4157d4c366c","type":"modbus-flex-write","z":"62ebc9babda1abd5","name":"","showStatusActivities":true,"showErrors":true,"showWarnings":true,"server":"3b2f154b57a59d82","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":1530,"y":1440,"wires":[[],["242998d84b0fa566"]]},{"id":"a52aee34fbc8e01d","type":"function","z":"62ebc9babda1abd5","name":"x write","func":"let tomb = {\n    \"server\": \"drive2_2\",\n    \"unitid\": 1,\n    \"fc\": 16,\n    \"address\": 1038,\n    \"quantity\": 2,\n    \"dataType\": \"INT16\",\n    \"value\": [0, 0],\n    \"length\": 2\n}\nconst motor = global.get(\"motor\");\ntomb.unitid = motor.xAddress;\ntomb.value = convertToHexFinal(msg.payload);\nreturn {payload: tomb}\n\nfunction convertToHexFinal(number) {\n    const hexString = convertToHex(number);\n    let tomb = [];\n\n    tomb[0] = convertToDec(hexString.slice(0, 4));\n    tomb[1] = convertToDec(hexString.slice(4));\n    return tomb\n}\nfunction convertToDec(hex) {\n    const dec = parseInt(hex, 16);\n    return dec;\n}\n\nfunction convertToHex(dec) {\n    if (dec < 0) {\n        dec = 0xFFFFFFFF + dec + 1;\n    }\n    var twosComplement = dec.toString(16).toUpperCase();\n    while (twosComplement.length < 8) {\n        twosComplement = \"0\" + twosComplement;\n    }\n    return twosComplement;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1310,"y":1440,"wires":[["15eed4157d4c366c"]]},{"id":"242998d84b0fa566","type":"function","z":"62ebc9babda1abd5","name":"set op 7 then start","func":"// if (msg.payload.unitid == 18) {\n    // node.warn(\"x moved\")\n    msg.payload = 15\n    return msg;\n// }\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":1460,"wires":[["a025a5e9f5563822"]]},{"id":"a025a5e9f5563822","type":"modbus-write","z":"62ebc9babda1abd5","name":"","showStatusActivities":true,"showErrors":true,"showWarnings":true,"unitid":"18","dataType":"HoldingRegister","adr":"125","quantity":"1","server":"3b2f154b57a59d82","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":2000,"y":1460,"wires":[[],[]]},{"id":"3acdda029c7dbe5e","type":"function","z":"62ebc9babda1abd5","name":"set op 7 then start","func":"// if (msg.payload.unitid == 17) {\n    // node.warn(\"y moved\")\n    msg.payload = 15\n    return msg;\n// }","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":1520,"wires":[["ddfbcaaddf6cc2f1"]]},{"id":"ddfbcaaddf6cc2f1","type":"modbus-write","z":"62ebc9babda1abd5","name":"","showStatusActivities":true,"showErrors":true,"showWarnings":true,"unitid":"17","dataType":"HoldingRegister","adr":"125","quantity":"1","server":"3b2f154b57a59d82","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":2000,"y":1520,"wires":[[],[]]},{"id":"7d16aa9e052da161","type":"function","z":"62ebc9babda1abd5","name":"átszámol","func":"let motorFBK = global.get(\"motorFBK\");\nconst cal = global.get(\"cal\")\n\nconst hex0 = ensureFourCharacters(msg.payload[0].toString(16));\nconst hex1 = ensureFourCharacters(msg.payload[1].toString(16));\nconst hex = hex0 + hex1;\nconst dec = hex2sComplementToDecimal(hex)\n\ndegreeBetweenAxis(dec);\nmotorFBK.yStep = decalibrate(dec)\nglobal.set(\"motorFBK\", motorFBK)\n\nreturn msg;\n\n\nfunction degreeBetweenAxis(number) {\n    const degree = Math.round((number / 9310) * 100) / 100;\n        motorFBK.yDeg = degree;\n    if (degree > -100 && degree < 100) {\n        global.set(\"motorFBK\", motorFBK);    \n    }\n    return msg;\n}\n\nfunction decalibrate(number) {\n    return (number * (1 / cal.yMultiplier)) - cal.yStep\n}\n\nfunction hex2sComplementToDecimal(hex) {\n    const intValue = parseInt(hex, 16);\n    if (intValue & 0x80000000) {\n        const complement = intValue ^ 0xFFFFFFFF;\n\n        return -complement - 1;\n    } else {\n        return intValue;\n    }\n}\n\nfunction ensureFourCharacters(str) {\n    return str.padStart(4, '0');\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1300,"y":1000,"wires":[[]]},{"id":"4bde5e3f041a54ec","type":"modbus-write","z":"62ebc9babda1abd5","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"unitid":"18","dataType":"HoldingRegister","adr":"385","quantity":"1","server":"3b2f154b57a59d82","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":400,"y":1760,"wires":[[],[]]},{"id":"e4141949fd596535","type":"modbus-write","z":"62ebc9babda1abd5","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"unitid":"17","dataType":"HoldingRegister","adr":"385","quantity":"1","server":"3b2f154b57a59d82","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":400,"y":1820,"wires":[[],[]]},{"id":"8187ab1ba4e15205","type":"ui_button","z":"62ebc9babda1abd5","name":"","group":"fa65bec78264dac9","order":3,"width":0,"height":0,"passthru":false,"label":"Alarm reset","tooltip":"","color":"","bgcolor":"orange","icon":"","payload":"1","payloadType":"num","topic":"topic","topicType":"msg","x":210,"y":1760,"wires":[["4bde5e3f041a54ec","f16a2646befcc967"]]},{"id":"3a17a4d6c28d599b","type":"modbus-write","z":"62ebc9babda1abd5","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"unitid":"17","dataType":"HoldingRegister","adr":"393","quantity":"1","server":"3b2f154b57a59d82","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":400,"y":1880,"wires":[[],[]]},{"id":"5b5d64ea1de7cd5c","type":"modbus-write","z":"62ebc9babda1abd5","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"unitid":"18","dataType":"HoldingRegister","adr":"393","quantity":"1","server":"3b2f154b57a59d82","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":400,"y":1940,"wires":[["bb7a52ad5e8f3c9d"],[]]},{"id":"f5f5f9f8e04260b9","type":"ui_button","z":"62ebc9babda1abd5","name":"","group":"fa65bec78264dac9","order":4,"width":0,"height":0,"passthru":false,"label":"Restart operations","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":1560,"wires":[["590ffaef86223f33"]]},{"id":"f16a2646befcc967","type":"delay","z":"62ebc9babda1abd5","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"x":210,"y":1820,"wires":[["e4141949fd596535","ca836337b18f06ac"]]},{"id":"19faa1d1d1b1c2bc","type":"delay","z":"62ebc9babda1abd5","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"x":210,"y":1940,"wires":[["5b5d64ea1de7cd5c"]]},{"id":"ca836337b18f06ac","type":"delay","z":"62ebc9babda1abd5","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"x":210,"y":1880,"wires":[["3a17a4d6c28d599b","19faa1d1d1b1c2bc"]]},{"id":"e82229f7f59f6bdf","type":"modbus-write","z":"62ebc9babda1abd5","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"unitid":"17","dataType":"HoldingRegister","adr":"385","quantity":"1","server":"3b2f154b57a59d82","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":820,"y":1760,"wires":[[],[]]},{"id":"bb7a52ad5e8f3c9d","type":"function","z":"62ebc9babda1abd5","name":"set payload","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":1760,"wires":[["e82229f7f59f6bdf","922f543777b46ed5"]]},{"id":"c2e1f34373073928","type":"modbus-write","z":"62ebc9babda1abd5","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"unitid":"18","dataType":"HoldingRegister","adr":"385","quantity":"1","server":"3b2f154b57a59d82","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":820,"y":1820,"wires":[[],[]]},{"id":"705c5e7f30187831","type":"modbus-write","z":"62ebc9babda1abd5","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"unitid":"17","dataType":"HoldingRegister","adr":"393","quantity":"1","server":"3b2f154b57a59d82","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":820,"y":1880,"wires":[[],[]]},{"id":"3b4be2cf9a7b271c","type":"modbus-write","z":"62ebc9babda1abd5","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"unitid":"18","dataType":"HoldingRegister","adr":"393","quantity":"1","server":"3b2f154b57a59d82","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":820,"y":1940,"wires":[[],[]]},{"id":"922f543777b46ed5","type":"delay","z":"62ebc9babda1abd5","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"x":630,"y":1820,"wires":[["909467de5a3344f0","c2e1f34373073928"]]},{"id":"f9f454f1b784b43f","type":"delay","z":"62ebc9babda1abd5","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"x":630,"y":1940,"wires":[["3b4be2cf9a7b271c"]]},{"id":"909467de5a3344f0","type":"delay","z":"62ebc9babda1abd5","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"x":630,"y":1880,"wires":[["f9f454f1b784b43f","705c5e7f30187831"]]},{"id":"bb90f3c16bffba1f","type":"function","z":"62ebc9babda1abd5","name":"op stop","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1320,"y":1320,"wires":[["8f631c3ad17e280d","d372e0a190da71be"]]},{"id":"8f631c3ad17e280d","type":"modbus-write","z":"62ebc9babda1abd5","name":"","showStatusActivities":true,"showErrors":true,"showWarnings":true,"unitid":"17","dataType":"HoldingRegister","adr":"125","quantity":"1","server":"3b2f154b57a59d82","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":1520,"y":1280,"wires":[[],[]]},{"id":"d372e0a190da71be","type":"modbus-write","z":"62ebc9babda1abd5","name":"","showStatusActivities":true,"showErrors":true,"showWarnings":true,"unitid":"18","dataType":"HoldingRegister","adr":"125","quantity":"1","server":"3b2f154b57a59d82","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":1520,"y":1340,"wires":[[],["b0f3434f83108568"]]},{"id":"590ffaef86223f33","type":"function","z":"62ebc9babda1abd5","name":"op stop","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":1620,"wires":[["c1a72f83dc18ba3d"]]},{"id":"c1a72f83dc18ba3d","type":"modbus-write","z":"62ebc9babda1abd5","name":"","showStatusActivities":true,"showErrors":true,"showWarnings":true,"unitid":"17","dataType":"HoldingRegister","adr":"125","quantity":"1","server":"3b2f154b57a59d82","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":420,"y":1620,"wires":[[],["e307dacfd6360745"]]},{"id":"e307dacfd6360745","type":"function","z":"62ebc9babda1abd5","name":"op stop","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":1680,"wires":[["bae0fdeb5b80dc34"]]},{"id":"bae0fdeb5b80dc34","type":"modbus-write","z":"62ebc9babda1abd5","name":"","showStatusActivities":true,"showErrors":true,"showWarnings":true,"unitid":"18","dataType":"HoldingRegister","adr":"125","quantity":"1","server":"3b2f154b57a59d82","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":420,"y":1680,"wires":[[],[]]},{"id":"5282830bd9e36d63","type":"modbus-write","z":"62ebc9babda1abd5","g":"8d404c8bd3e3969d","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"unitid":"18","dataType":"HoldingRegister","adr":"125","quantity":"1","server":"3b2f154b57a59d82","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":1680,"y":660,"wires":[[],["3617fa9178ef2cfe"]]},{"id":"0e73d8789cfcb906","type":"function","z":"62ebc9babda1abd5","g":"8d404c8bd3e3969d","name":"set op 6 then start","func":"msg.payload = 14\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1450,"y":660,"wires":[["5282830bd9e36d63"]]},{"id":"2f2e388a6102a88c","type":"modbus-write","z":"62ebc9babda1abd5","g":"8d404c8bd3e3969d","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"unitid":"18","dataType":"HoldingRegister","adr":"125","quantity":"1","server":"3b2f154b57a59d82","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":1680,"y":720,"wires":[[],["7a88dbf6b97b8263"]]},{"id":"3617fa9178ef2cfe","type":"function","z":"62ebc9babda1abd5","g":"8d404c8bd3e3969d","name":"stop op","func":"msg.payload = 0\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1440,"y":720,"wires":[["2f2e388a6102a88c"]]},{"id":"61bf96315ad62d9c","type":"ui_button","z":"62ebc9babda1abd5","g":"8d404c8bd3e3969d","name":"","group":"771c32caec74540c","order":10,"width":0,"height":0,"passthru":false,"label":"Service pozíció (6)","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":1210,"y":660,"wires":[["0e73d8789cfcb906"]]},{"id":"83abdf72b3564364","type":"modbus-write","z":"62ebc9babda1abd5","g":"8d404c8bd3e3969d","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"unitid":"17","dataType":"HoldingRegister","adr":"125","quantity":"1","server":"3b2f154b57a59d82","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":1680,"y":780,"wires":[[],["0a110dd7d9d55d4b"]]},{"id":"7a88dbf6b97b8263","type":"function","z":"62ebc9babda1abd5","g":"8d404c8bd3e3969d","name":"set op 6 then start","func":"msg.payload = 14\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1450,"y":780,"wires":[["83abdf72b3564364"]]},{"id":"0a110dd7d9d55d4b","type":"function","z":"62ebc9babda1abd5","g":"8d404c8bd3e3969d","name":"stop op","func":"msg.payload = 0\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1420,"y":840,"wires":[["f396fd3ec552d5d9"]]},{"id":"f396fd3ec552d5d9","type":"modbus-write","z":"62ebc9babda1abd5","g":"8d404c8bd3e3969d","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"unitid":"17","dataType":"HoldingRegister","adr":"125","quantity":"1","server":"3b2f154b57a59d82","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":1680,"y":840,"wires":[[],[]]},{"id":"1708da66e1516d18","type":"modbus-write","z":"62ebc9babda1abd5","g":"19a855cb6190da48","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"unitid":"18","dataType":"HoldingRegister","adr":"125","quantity":"1","server":"3b2f154b57a59d82","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":1680,"y":380,"wires":[[],["0a3188b201a135c1"]]},{"id":"d9239a5705e3d469","type":"function","z":"62ebc9babda1abd5","g":"19a855cb6190da48","name":"set op 0 then start","func":"msg.payload = 8\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1450,"y":380,"wires":[["1708da66e1516d18"]]},{"id":"aa47d8d9d8946e6e","type":"modbus-write","z":"62ebc9babda1abd5","g":"19a855cb6190da48","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"unitid":"18","dataType":"HoldingRegister","adr":"125","quantity":"1","server":"3b2f154b57a59d82","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":1680,"y":440,"wires":[[],["84f3d5a2d1d07a9f"]]},{"id":"0a3188b201a135c1","type":"function","z":"62ebc9babda1abd5","g":"19a855cb6190da48","name":"stop op","func":"msg.payload = 0\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1440,"y":440,"wires":[["aa47d8d9d8946e6e"]]},{"id":"bd8926c712c173a7","type":"ui_button","z":"62ebc9babda1abd5","g":"19a855cb6190da48","name":"","group":"771c32caec74540c","order":11,"width":0,"height":0,"passthru":false,"label":"Home pozíció (0)","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":1210,"y":380,"wires":[["d9239a5705e3d469"]]},{"id":"c8d8406ff3c35af1","type":"modbus-write","z":"62ebc9babda1abd5","g":"19a855cb6190da48","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"unitid":"17","dataType":"HoldingRegister","adr":"125","quantity":"1","server":"3b2f154b57a59d82","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":1680,"y":500,"wires":[[],["09edcb7d99be986c"]]},{"id":"84f3d5a2d1d07a9f","type":"function","z":"62ebc9babda1abd5","g":"19a855cb6190da48","name":"set op 0 then start","func":"msg.payload = 8\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1450,"y":500,"wires":[["c8d8406ff3c35af1"]]},{"id":"09edcb7d99be986c","type":"function","z":"62ebc9babda1abd5","g":"19a855cb6190da48","name":"stop op","func":"msg.payload = 0\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1420,"y":560,"wires":[["9aa51570b6c4f6f0"]]},{"id":"9aa51570b6c4f6f0","type":"modbus-write","z":"62ebc9babda1abd5","g":"19a855cb6190da48","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"unitid":"17","dataType":"HoldingRegister","adr":"125","quantity":"1","server":"3b2f154b57a59d82","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":1680,"y":560,"wires":[[],[]]},{"id":"122812ba64a809b0","type":"ui_button","z":"62ebc9babda1abd5","g":"7c5a30a2389651be","name":"","group":"d2275cfc58cad145","order":3,"width":0,"height":0,"passthru":false,"label":"get cal","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":140,"y":1000,"wires":[["bbead8d66b18ea84","c9f7876640733885","e32124ab1879dae0","fbf7ecbc7942e177","f840120f669ba7ae","b12e147f9088e98e"]]},{"id":"2f8c6acbc9de47a3","type":"ui_button","z":"62ebc9babda1abd5","name":"","group":"d2275cfc58cad145","order":2,"width":0,"height":0,"passthru":false,"label":"get default","tooltip":"","color":"","bgcolor":"orange","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":870,"y":180,"wires":[["df0050f79dfc1305"]]},{"id":"b976e0696ac96d79","type":"function","z":"62ebc9babda1abd5","name":"y write","func":"let tomb = {\n    \"server\": \"drive2_2\",\n    \"unitid\": 1,\n    \"fc\": 16,\n    \"address\": 1038,\n    \"quantity\": 2,\n    \"dataType\": \"INT16\",\n    \"value\": [0, 0],\n    \"length\": 2\n}\nconst motor = global.get(\"motor\");\ntomb.unitid = motor.yAddress;\ntomb.value = convertToHexFinal(msg.payload);\nreturn {payload: tomb}\n\nfunction convertToHexFinal(number) {\n    const hexString = convertToHex(number);\n    let tomb = [];\n\n    tomb[0] = convertToDec(hexString.slice(0, 4));\n    tomb[1] = convertToDec(hexString.slice(4));\n    return tomb\n}\nfunction convertToDec(hex) {\n    const dec = parseInt(hex, 16);\n    return dec;\n}\n\nfunction convertToHex(dec) {\n    if (dec < 0) {\n        dec = 0xFFFFFFFF + dec + 1;\n    }\n    var twosComplement = dec.toString(16).toUpperCase();\n    while (twosComplement.length < 8) {\n        twosComplement = \"0\" + twosComplement;\n    }\n    return twosComplement;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1310,"y":1480,"wires":[["fbba6deb76b64340"]]},{"id":"fbba6deb76b64340","type":"modbus-flex-write","z":"62ebc9babda1abd5","name":"","showStatusActivities":true,"showErrors":true,"showWarnings":true,"server":"3b2f154b57a59d82","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":1530,"y":1500,"wires":[[],["3acdda029c7dbe5e"]]},{"id":"2e94de72360a826c","type":"modbus-getter","z":"62ebc9babda1abd5","name":"","showStatusActivities":true,"showErrors":true,"showWarnings":true,"logIOActivities":false,"unitid":"17","dataType":"HoldingRegister","adr":"204","quantity":"2","server":"3b2f154b57a59d82","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":1120,"y":1000,"wires":[["7d16aa9e052da161"],["463381141b90bbb3"]]},{"id":"463381141b90bbb3","type":"modbus-getter","z":"62ebc9babda1abd5","name":"","showStatusActivities":true,"showErrors":true,"showWarnings":true,"logIOActivities":false,"unitid":"18","dataType":"HoldingRegister","adr":"204","quantity":"2","server":"3b2f154b57a59d82","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":1300,"y":1040,"wires":[["14fd8e3b7bf11e8b"],["d93fc76846aa6b80"]]},{"id":"14fd8e3b7bf11e8b","type":"function","z":"62ebc9babda1abd5","name":"átszámol","func":"let motorFBK = global.get(\"motorFBK\");\nconst cal = global.get(\"cal\")\n\nconst hex0 = ensureFourCharacters(msg.payload[0].toString(16));\nconst hex1 = ensureFourCharacters(msg.payload[1].toString(16));\nconst hex = hex0 + hex1;\nconst dec = hex2sComplementToDecimal(hex)\n\ndegreeBetweenAxis(dec);\nmotorFBK.xStep = decalibrate(dec)\nglobal.set(\"motorFBK\", motorFBK)\n\nreturn msg;\n\nfunction degreeBetweenAxis(number) {\n    const degree = Math.round((number / 9310) * 100) / 100;\n        motorFBK.xDeg = degree;\n    if (degree > -100 && degree < 100) {\n        global.set(\"motorFBK\", motorFBK);    \n    }\n    return msg;\n}\n\nfunction decalibrate(number) {\n    return (number * (1 / cal.xMultiplier)) - cal.xStep\n}\n\nfunction hex2sComplementToDecimal(hex) {\n    const intValue = parseInt(hex, 16);\n    if (intValue & 0x80000000) {\n        const complement = intValue ^ 0xFFFFFFFF;\n\n        return -complement - 1;\n    } else {\n        return intValue;\n    }\n}\n\nfunction ensureFourCharacters(str) {\n    return str.padStart(4, '0');\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1480,"y":1000,"wires":[["ec5298df92c1c3dd"]]},{"id":"19c7ee923014e23c","type":"comment","z":"62ebc9babda1abd5","name":"Feedback","info":"","x":1400,"y":920,"wires":[]},{"id":"c344e905593a0a66","type":"ui_gauge","z":"62ebc9babda1abd5","g":"a441d4594ec03e34","name":"","group":"fa65bec78264dac9","order":9,"width":"3","height":"3","gtype":"compass","title":"Az szenzorból","label":"fok","format":"{{value}}","min":"0","max":"360","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"","x":2180,"y":1060,"wires":[]},{"id":"1acb89679a08d462","type":"ui_gauge","z":"62ebc9babda1abd5","g":"a441d4594ec03e34","name":"","group":"fa65bec78264dac9","order":7,"width":"3","height":"3","gtype":"gage","title":"El szenzorból","label":"fok","format":"{{value}}","min":"0","max":"180","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"","x":2170,"y":1100,"wires":[]},{"id":"a9f29e30f162e7c3","type":"ui_button","z":"1192edb96afd224d","name":"","group":"7a36d0e389706e67","order":2,"width":0,"height":0,"passthru":false,"label":"find X home","tooltip":"","color":"","bgcolor":"brown","icon":"","payload":"16","payloadType":"num","topic":"topic","topicType":"msg","x":150,"y":60,"wires":[["0a13557fd038214e"]]},{"id":"67c79a0fe3a85c6a","type":"ui_button","z":"1192edb96afd224d","name":"","group":"7a36d0e389706e67","order":3,"width":0,"height":0,"passthru":false,"label":"find Y home","tooltip":"","color":"","bgcolor":"brown","icon":"","payload":"16","payloadType":"num","topic":"topic","topicType":"msg","x":150,"y":120,"wires":[["a6d4a45832fe03c1"]]},{"id":"0a13557fd038214e","type":"modbus-write","z":"1192edb96afd224d","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"unitid":"18","dataType":"HoldingRegister","adr":"125","quantity":"1","server":"3b2f154b57a59d82","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":360,"y":60,"wires":[[],["abb70ac3d269a526"]]},{"id":"a6d4a45832fe03c1","type":"modbus-write","z":"1192edb96afd224d","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"unitid":"17","dataType":"HoldingRegister","adr":"125","quantity":"1","server":"3b2f154b57a59d82","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":360,"y":120,"wires":[[],["0d51ae2491817a57"]]},{"id":"abb70ac3d269a526","type":"function","z":"1192edb96afd224d","name":"set payload","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":60,"wires":[["62a799face5e9ade"]]},{"id":"0d51ae2491817a57","type":"function","z":"1192edb96afd224d","name":"set payload","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":120,"wires":[["d3028d42ca2af7e4"]]},{"id":"62a799face5e9ade","type":"modbus-write","z":"1192edb96afd224d","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"unitid":"18","dataType":"HoldingRegister","adr":"125","quantity":"1","server":"3b2f154b57a59d82","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":800,"y":60,"wires":[[],[]]},{"id":"d3028d42ca2af7e4","type":"modbus-write","z":"1192edb96afd224d","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"unitid":"17","dataType":"HoldingRegister","adr":"125","quantity":"1","server":"3b2f154b57a59d82","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":800,"y":120,"wires":[[],[]]},{"id":"0d1be7dae8663c41","type":"ui_button","z":"1192edb96afd224d","name":"","group":"7a36d0e389706e67","order":4,"width":0,"height":0,"passthru":false,"label":"Y FREE ON NE HASZNALD","tooltip":"","color":"","bgcolor":"brown","icon":"","payload":"64","payloadType":"num","topic":"topic","topicType":"msg","x":200,"y":180,"wires":[["1c86074cff0c3a12"]]},{"id":"1c86074cff0c3a12","type":"modbus-write","z":"1192edb96afd224d","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"unitid":"17","dataType":"HoldingRegister","adr":"125","quantity":"1","server":"3b2f154b57a59d82","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":480,"y":180,"wires":[[],[]]},{"id":"1ae59a9a8331584c","type":"modbus-write","z":"1192edb96afd224d","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"unitid":"17","dataType":"HoldingRegister","adr":"125","quantity":"1","server":"3b2f154b57a59d82","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":480,"y":240,"wires":[[],[]]},{"id":"d399928e6acc5457","type":"ui_button","z":"1192edb96afd224d","name":"","group":"7a36d0e389706e67","order":5,"width":0,"height":0,"passthru":false,"label":"Y FREE OFF NE HASZNALD","tooltip":"","color":"","bgcolor":"brown","icon":"","payload":"0","payloadType":"num","topic":"topic","topicType":"msg","x":200,"y":240,"wires":[["1ae59a9a8331584c"]]},{"id":"3920f1b081a09465","type":"modbus-write","z":"1192edb96afd224d","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"unitid":"17","dataType":"HoldingRegister","adr":"515","quantity":"1","server":"3b2f154b57a59d82","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":480,"y":320,"wires":[[],[]]},{"id":"ccb8bb296871ba14","type":"ui_button","z":"1192edb96afd224d","name":"","group":"7a36d0e389706e67","order":6,"width":0,"height":0,"passthru":false,"label":"Y overtravel off","tooltip":"","color":"","bgcolor":"#FF5E00","icon":"","payload":"0","payloadType":"num","topic":"topic","topicType":"msg","x":160,"y":320,"wires":[["3920f1b081a09465"]]},{"id":"9fafaa6ffb0e6c34","type":"modbus-write","z":"1192edb96afd224d","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"unitid":"17","dataType":"HoldingRegister","adr":"515","quantity":"1","server":"3b2f154b57a59d82","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":480,"y":360,"wires":[[],[]]},{"id":"69c31e1c04162b9c","type":"ui_button","z":"1192edb96afd224d","name":"","group":"7a36d0e389706e67","order":7,"width":0,"height":0,"passthru":false,"label":"Y overtravel on","tooltip":"","color":"","bgcolor":"#FF5E00","icon":"","payload":"0","payloadType":"num","topic":"topic","topicType":"msg","x":160,"y":360,"wires":[["9fafaa6ffb0e6c34"]]},{"id":"58bd901696dcd88d","type":"ui_text","z":"1192edb96afd224d","group":"7a36d0e389706e67","order":1,"width":0,"height":0,"name":"","label":"HA NEM TUDOD MIT CSINÁLNAK KÉRLEK NE NYOMKODD A GOMBOKAT","format":"{{msg.payload}}","layout":"col-center","x":350,"y":520,"wires":[]},{"id":"30265cc3ae41b4d5","type":"modbus-write","z":"1192edb96afd224d","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"unitid":"18","dataType":"HoldingRegister","adr":"515","quantity":"1","server":"3b2f154b57a59d82","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":480,"y":420,"wires":[[],[]]},{"id":"bf7eb5b4af3be6ea","type":"ui_button","z":"1192edb96afd224d","name":"","group":"7a36d0e389706e67","order":8,"width":0,"height":0,"passthru":false,"label":"X overtravel off","tooltip":"","color":"","bgcolor":"#FF5E00","icon":"","payload":"0","payloadType":"num","topic":"topic","topicType":"msg","x":160,"y":420,"wires":[["30265cc3ae41b4d5"]]},{"id":"466cf5662ade6058","type":"modbus-write","z":"1192edb96afd224d","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"unitid":"18","dataType":"HoldingRegister","adr":"515","quantity":"1","server":"3b2f154b57a59d82","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":480,"y":460,"wires":[[],[]]},{"id":"50478902b24fe69d","type":"ui_button","z":"1192edb96afd224d","name":"","group":"7a36d0e389706e67","order":9,"width":0,"height":0,"passthru":false,"label":"X overtravel on","tooltip":"","color":"","bgcolor":"#FF5E00","icon":"","payload":"0","payloadType":"num","topic":"topic","topicType":"msg","x":160,"y":460,"wires":[["466cf5662ade6058"]]},{"id":"1ced1ac1bef0c39c","type":"function","z":"62ebc9babda1abd5","g":"a441d4594ec03e34","name":"calc AZ/EL 2","func":"const cal = global.get(\"cal\")\nlet motorFBK = global.get(\"motorFBK\")\n\n\nconst theta = (Math.PI * motorFBK.xDeg) / 180\nconst phi = (Math.PI * motorFBK.yDeg) / 180\nconst vector = {x: 0, y: Math.cos(theta), z: Math.sin(theta)}\nconst pont = {\n    x: -10 * Math.sin(phi),\n    y: -10 * Math.cos(phi) * Math.sin(theta),\n    z: 10 * Math.cos(phi) * Math.cos(theta)\n    \n};\n\nconst r = Math.sqrt(pont.x * pont.x + pont.y * pont.y + pont.z * pont.z);\nmotorFBK.azDeg = Math.round(((Math.atan2(pont.y, pont.x) * 180) / 3.1415) * 100) / 100;\nmotorFBK.elDeg = Math.round(((Math.asin(pont.z / r) * 180) / 3.1415) * 100 ) / 100;\n\nif (cal.status) {\n    motorFBK.azDeg = motorFBK.azDeg - cal.az\n} else {\n    motorFBK.azDeg = motorFBK.azDeg - (2 * cal.az)\n}\n\nif (motorFBK.azDeg < 0) {\n    motorFBK.azDeg = 360 - (-motorFBK.azDeg)\n} else if (motorFBK.azDeg == -360 || motorFBK.azDeg == 360) {\n    motorFBK.azDeg = 0\n}\n\n// node.warn(`az: ${motorFBK.azDeg}`)\n// node.warn(`el: ${motorFBK.elDeg}`)\n\nglobal.set(\"motorFBK\", motorFBK)\n\nreturn [{payload: motorFBK.azDeg}, {payload: motorFBK.elDeg}]","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1970,"y":1080,"wires":[["c344e905593a0a66"],["1acb89679a08d462","dd9ca8a28ffb416a"]]},{"id":"dde322382bab731f","type":"function","z":"62ebc9babda1abd5","name":"debug mert szar","func":"return {payload: 0};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1120,"y":940,"wires":[["2e94de72360a826c"]]}]